<!-- <div class="chat-layout">
  <div class="channel-sidebar">
    <h2>Channels</h2>
    <div class="channels-list">
      <div *ngFor="let channel of channels" class="channel-item"
        (click)="selectChannel(channel)">
        <h3>{{ channel.name }}</h3>
      </div>
    </div>
  </div>

  <div class="chat-container" *ngIf="selectedChannel">
    <div class="chat-header">
      <h2 class="channel-title">{{ selectedChannel.name }}</h2>
      <button *ngIf="isJoined && !isLoading" class="leave-btn" (click)="leaveChannel(selectedChannel.id)">Leave</button>
    </div>

    <div *ngIf="isLoading" class="loading-container">
      <div class="loader"></div>

    <div *ngIf="!isJoined && !isLoading" class="join-container">
      <p>You didn't join the channel..</p>
      <button class="join-btn" (click)="joinChannel(selectedChannel.id)">Join the Channel</button>
    </div>

    <div class="chat-messages" *ngIf="isJoined">
      <div *ngFor="let message of messages"
        [ngClass]="{'my-message': message.senderId === userId, 'other-message': message.senderId !== userId}">
        <p *ngIf="message.senderId === userId">You: {{ message.text }}</p>
        <p *ngIf="message.senderId !== userId">{{ message.senderName }}: {{ message.text }}</p>
      </div>
    </div>

    <div class="chat-input" *ngIf="isJoined && isAdmin; else noInput">
      <input type="text" (keypress)="onKeyPress($event)" [(ngModel)]="messageText" placeholder="Type a message..." />
      <input type="file" (change)="onFileSelected($event)" />
      <button (click)="sendMessage()">Send</button>
    </div>

    <ng-template #noInput>
      <p *ngIf="isJoined" class="info-text">Only Admin can send messages.</p>
    </ng-template>
  </div>
</div> -->

<div class="chat-layout">
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-12">
      <app-chat-sidebar [items]="channels" [isPrivateChat]="false" (itemSelected)="selectChannel($event)"></app-chat-sidebar>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12 chat-main">
      <app-chat-main-content
        [selectedChannel]="selectedChannel"
        [messages]="messages"
        [isLoading]="isLoading"
        [isAdmin]="isAdmin"
      >
      </app-chat-main-content>
    </div>

  </div>
</div>

