<div class="chat-container" *ngIf="selectedChannel">
  <div class="chat-header">
    <h2 class="d-flex text-center"> {{ isPrivateChat ? selectedChannel?.userName : selectedChannel?.name }} </h2>
    <button *ngIf="isJoined && !isLoading" class="btn bg-danger" (click)="leaveChannel(selectedChannel.id)">Leave</button>
  </div>

  <div *ngIf="isLoading" class="loading-container">
    <div class="loader"></div>
  </div>

  <div *ngIf="!isPrivateChat && !isJoined && !isLoading" class="join-container">
    <p>You didn't join the channel.</p>
    <button class="join-btn" (click)="joinChannel(selectedChannel.id)">Join the Channel</button>
  </div>

  <div class="chat-messages" *ngIf="isJoined || isPrivateChat">
    <div *ngFor="let message of messages"
      [ngClass]="{'my-message': message.senderId === userId, 'other-message': message.senderId !== userId}">

      <p *ngIf="message.senderId === userId">
        <span *ngIf="!isPrivateChat">You:</span> {{ message.text }}</p>
        <!-- <span class="timestamp">{{ message.timestamp  }}</span> -->
      <p *ngIf="message.senderId !== userId">
        <span *ngIf="!isPrivateChat">{{ message.senderName }}:</span>{{ message.text }}
      </p>
      <span class="timestamp">{{ formatTimestamp(message.timestamp) | date : 'h:mm a, MMM d' }}</span>


    </div>
  </div>

  <div class="chat-input" *ngIf="isJoined || isPrivateChat">
    <input type="text" (keypress)="onKeyPress($event)" [(ngModel)]="messageText" placeholder="Type a message..." />
    <input type="file" (change)="onFileSelected($event)" />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
