.chat-container {
  width: 75vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #003063;
  color: white;
  padding: 10px;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}

.chat-messages > div {
  scroll-snap-align: end;
}

.my-message {
  text-align: right;
  background: #11003d;
  padding: 8px;
  border-radius: 8px;
  align-self: flex-end;
  max-width: 60%;
}

.other-message {
  text-align: left;
  background: #5e5e5e;
  padding: 8px;
  border-radius: 8px;
  align-self: flex-start;
  max-width: 60%;
}

.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}


.join-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
   margin-top: 10px;
}

.chat-input {
  display: flex;
  gap: 5px;
  /* padding: 10px; */
  position: relative;
  background: white;
  border-top: 1px solid #ccc;
}

.chat-input input {
  display: flex;
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-input button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

.info-text{
  text-align: center;
  color: #007b84;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .chat-container {
    /* width: 100%; */
    margin-left: 25px;
    height: calc(90vh - 25px);
  }

  .chat-header {
    margin-top: 90px;
    gap: 10px;
  }

  .chat-input {
    flex-direction: column;
    gap: 10px;
  }

  .chat-input input, .chat-input button {
    width: 100%;
  }
}
